body {
    background-image: linear-gradient(black, rgb(28, 49, 70));
    background-size: fill;
    font-family: monospace;
    text-align: center;
}

.container-fluid {
    margin-left: 200px;
    margin-right: 75px;
    /* border: 1px solid red; */
    padding-bottom: 200px;
}

.container-fluid img {
    float: right;
    width: 300px;
    image-orientation: from-image;
    border-radius: 5%;
    margin: 30px;
}

.container-fluid p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(219, 161, 14, 0.336);
    font-size: 125%;
}

.navbar {
    position: fixed;
    height: 100%;
    width: 200px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.397), black);
    padding-top: 20px;
    border-right: 8px solid black;
}

.wrapper ul {
    list-style-type: none;
    font-size: 13px;
    padding-left: 10px;
}

ul li, ol li {
    color: rgba(236, 231, 202, 0.644);
}

.wrapper img {
    margin-bottom: 50px;
    width: 120px;
    border-radius: 100%;
    border: 8px solid black;
    opacity: .9;
}

.navbar li {
    padding: 40px;
}

.navbar li a {
    color: rgb(224, 106, 124);

}

h1 {
    color: rgba(236, 139, 27, 0.747);
}

h2 {
    font-size: 120%;
    color: rgba(184, 110, 26, 0.425);
    padding-top: 130px;
}

blockquote {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;
    border: none;
}

blockquote p {
    font-size: 75%;
    color: silver;
}

#projectlist ul {
    text-align: left;
    list-style-type: disc;
    font-size: 13px;
    padding-left: 50px;
}

#projectlist ul li {
    padding-bottom: 20px;
}

.fractal {
    color: rgba(145, 97, 74, 0.623);

}

#spiral {
    width: 500px;
    margin-right: 0;
}

#selfie {
    border-radius: 40%;
    border: 6px solid rgba(245, 168, 3, 0.61);
}

.left-align {
    text-align: left;
}

.emphasis {
    color: rgba(241, 211, 40, 0.479);
}
