body {
    background-color: black;
    font-family: monospace;
    text-align: center;
}

.container-fluid {
    margin-left: 200px;
    margin-right: 100px;
    /* border: 1px solid red; */
}

.container-fluid img {
    float: right;
    width: 200px;
    image-orientation: from-image;
    border-radius: 10%;
    margin-top: 30px;
}

.navbar {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: rgb(67, 68, 68);
    padding-top: 20px;
}

ul {
    list-style-type: none;
    font-size: 13px;
    padding-left: 10px;
}

.wrapper img {
    margin-bottom: 100px;
    width: 120px;
    border-radius: 100%;
}

.navbar li {
    padding: 40px;
}

.navbar li a {
    color: rgb(224, 106, 124);

}

h1 {
    color: rgb(255, 251, 0);
}